:root {
    --default-font : Roboto, sans-serif;
    --primary-font : Roboto Condensed, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --thirdprimary-font : Roboto Mono, sans-serif;
}

/* #harvey(d968f923c99adba9) #css starts  */
    .headerd968f923c99adba9 .btnReg{
        background-color: #84D19F;
        color: #E8F7F7;
        border-radius: 12px;
        font-weight: bold
    }
    .headerd968f923c99adba9 .btn{
        font-weight: bold
    }
    .headerd968f923c99adba9 .btn:hover{
        color: black
    }
/* #harvey(d968f923c99adba9) #css ends  */

  /* #anda(a306259657eb222ec) #css starts  */
  .abouta306259657eb222ec .headline {
    left: 130px
  }
  .abouta306259657eb222ec h3{
    color: darkorange;
  }
  .abouta306259657eb222ec .clipped {
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%)
  }
  .abouta306259657eb222ec .para {
    z-index: 100000000000;
    font-size: 25px
  }
  .abouta306259657eb222ec .main-container{
    height: 70vh
  }
  .abouta306259657eb222ec .button{
    border-radius: 20px; 
    font-weight: bold;
    background-color: darkorange
  }
  .abouta306259657eb222ec .clipped{
    min-height: 300px; 
    background-image: url(https://rb.gy/7e2k0f); 
    background-position: center; 
    background-size: cover
  }

  @media screen and (max-width: 650px) {
    .abouta306259657eb222ec .headline {
      left: 20px
    }

    .abouta306259657eb222ec .clipped {
      clip-path: none;
      max-height: 300px
    }
  }
  /* #anda(a306259657eb222ec) #css ends  */

      /* #canon(c724c807cc8b8e9ab) #css starts  */
      .clientsc724c807cc8b8e9ab #clients {
        padding: 50px 0
    }

    .clientsc724c807cc8b8e9ab #clients .clients-wrap {
        border-top: 1px solid #C7C4D1;
        margin-bottom: 20px
    }

    .clientsc724c807cc8b8e9ab img {
        height: 40px;
        width: 100px
    }

    .clientsc724c807cc8b8e9ab #clients .client-logo {
        padding: 60px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid #C7C4D1;
        overflow: hidden;
        background: #fff;
        height: 100px
    }

    /* #canon(c724c807cc8b8e9ab) #css ends  */

    /* #quick(q0c8d3826c0d518b0) #css starts  */
    .quickLinkq0c8d3826c0d518b0 .flex-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        padding-top: 30px;
        padding-bottom: 60px
    }

    .quickLinkq0c8d3826c0d518b0 .quicklink {
        height: 50px;
        width: 210px;
        font-size: 15px;
        font-weight: 400;
        color: dimgrey;
        background-color: white;
        border: 1px solid DimGrey;
        border-radius: 50px
    }

    .quickLinkq0c8d3826c0d518b0 .quicklink a {
        text-decoration: none;
        color: DimGrey;
        font-weight: 600
    }


    .quickLinkq0c8d3826c0d518b0 .quicklink:hover {
        background-color: Dodgerblue;
        border: 2px solid #2091f7
    }

    .quickLinkq0c8d3826c0d518b0 .quicklink:hover a {
        color: white
    }

    .quickLinkq0c8d3826c0d518b0 .quicklink_2:hover a {
        color: white
    }

    .quickLinkq0c8d3826c0d518b0 i {
        padding-right: 15px
    }

    /* #quick(q0c8d3826c0d518b0) #css ends  */


    









/* error handler */
.edric .error-content {
    padding: 70px 0 70px;
}
.edric .error-text{
    text-align: center;
}
.edric .error-text h1 {
    font-size: 80px;
    font-weight: 100;
}
@media(min-width: 768px){
 .edric .error-text h1 {
     font-size: 100px;     
 }   
}
@keyframes bob {
    0% {
        top: 0;
}
    50% {
        top: 0.2em;
}
}
.edric .im-sheep {
    display: inline-block;
    position: relative;
    font-size: 1em;
    margin-bottom: 70px;
    margin-top: 50px;
}
.edric .im-sheep * {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}
.edric .im-sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
}
.edric .im-sheep:hover .head {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.edric .im-sheep:hover .head .im-eye {
    width: 1.25em;
    height: 1.25em;
}
.edric .im-sheep:hover .head .im-eye:before {
    right: 30%;
}
.edric .im-sheep:hover .top {
    animation-play-state: paused;
}
.edric .im-sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: var(--brand-color);
    vertical-align: middle;
    position: relative;
    top: 1em;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.edric .im-sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background:  var(--brand-color);
    position: absolute;
    bottom: 0;
    right: -10%;
    -webkit-border-radius: 50% 40%;
    -moz-border-radius: 50% 40%;
    border-radius: 50% 40%;
}
.edric .im-sheep .head:hover .im-ear.one, 
.edric .im-sheep .head:hover .im-ear.two {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.edric .im-sheep .head .im-eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
}
.edric .im-sheep .head .im-eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.edric .im-sheep .head .im-eye.one {
    right: -2%;
    top: 1.7em;
}
.edric .im-sheep .head .im-eye.two {
    right: 2.5em;
    top: 1.7em;
}
.edric .im-sheep .head .im-ear {
    background:  var(--light-brand-color);
    width: 50%;
    height: 30%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
}
.edric .im-sheep .head .im-ear.one {
    left: -10%;
    top: 5%;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.edric .im-sheep .head .im-ear.two {
    top: 2%;
    right: -5%;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}
.edric .im-sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #0054D1;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
}
.edric .im-sheep .im-legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: -1;
}
.edric .im-sheep .im-legs .im-leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
}
.edric .im-sheep::before {
    left: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 18%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
}



