:root {
    --default-font : Roboto, sans-serif;
    --primary-font : Roboto Condensed, sans-serif;
    --secondary-font : Roboto, sans-serif;
    --thirdprimary-font : Roboto Mono, sans-serif;
}

/* #harvey(d968f923c99adba9) #css starts  */
    .headerd968f923c99adba9 .btnReg{
        background-color: #84D19F;
        color: #E8F7F7;
        border-radius: 12px;
        font-weight: bold
    }
    .headerd968f923c99adba9 .btn{
        font-weight: bold
    }
    .headerd968f923c99adba9 .btn:hover{
        color: black
    }
/* #harvey(d968f923c99adba9) #css ends  */















/* error handler */
.edric .error-content {
    padding: 70px 0 70px;
}
.edric .error-text{
    text-align: center;
}
.edric .error-text h1 {
    font-size: 80px;
    font-weight: 100;
}
@media(min-width: 768px){
 .edric .error-text h1 {
     font-size: 100px;     
 }   
}
@keyframes bob {
    0% {
        top: 0;
}
    50% {
        top: 0.2em;
}
}
.edric .im-sheep {
    display: inline-block;
    position: relative;
    font-size: 1em;
    margin-bottom: 70px;
    margin-top: 50px;
}
.edric .im-sheep * {
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
}
.edric .im-sheep .top {
    position: relative;
    top: 0;
    animation: bob 1s infinite;
}
.edric .im-sheep:hover .head {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.edric .im-sheep:hover .head .im-eye {
    width: 1.25em;
    height: 1.25em;
}
.edric .im-sheep:hover .head .im-eye:before {
    right: 30%;
}
.edric .im-sheep:hover .top {
    animation-play-state: paused;
}
.edric .im-sheep .head {
    display: inline-block;
    width: 5em;
    height: 5em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: var(--brand-color);
    vertical-align: middle;
    position: relative;
    top: 1em;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}
.edric .im-sheep .head:before {
    content: '';
    display: inline-block;
    width: 80%;
    height: 50%;
    background:  var(--brand-color);
    position: absolute;
    bottom: 0;
    right: -10%;
    -webkit-border-radius: 50% 40%;
    -moz-border-radius: 50% 40%;
    border-radius: 50% 40%;
}
.edric .im-sheep .head:hover .im-ear.one, 
.edric .im-sheep .head:hover .im-ear.two {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
.edric .im-sheep .head .im-eye {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: white;
    position: absolute;
    overflow: hidden;
}
.edric .im-sheep .head .im-eye:before {
    content: '';
    display: inline-block;
    background: black;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    right: 10%;
    bottom: 10%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.edric .im-sheep .head .im-eye.one {
    right: -2%;
    top: 1.7em;
}
.edric .im-sheep .head .im-eye.two {
    right: 2.5em;
    top: 1.7em;
}
.edric .im-sheep .head .im-ear {
    background:  var(--light-brand-color);
    width: 50%;
    height: 30%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
}
.edric .im-sheep .head .im-ear.one {
    left: -10%;
    top: 5%;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.edric .im-sheep .head .im-ear.two {
    top: 2%;
    right: -5%;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
}
.edric .im-sheep .body {
    display: inline-block;
    width: 7em;
    height: 7em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #0054D1;
    position: relative;
    vertical-align: middle;
    margin-right: -3em;
}
.edric .im-sheep .im-legs {
    display: inline-block;
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: -1;
}
.edric .im-sheep .im-legs .im-leg {
    display: inline-block;
    background: #141214;
    width: 0.5em;
    height: 2.5em;
    margin: 0.2em;
}
.edric .im-sheep::before {
    left: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 112%;
    width: 100%;
    height: 18%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.2);
}



